<!DOCTYPE html>
<html lang="en">
<head>
<title></title>
</head>

<body>

<nav class="nav">
	<ul>
		<li><a href="all-projects">All projects</a></li>
		<li><a href="project-overview">Project Overview</a></li>
		<li><a href="all-clients">All Clients</a></li>
		<li><a href="client-overview">Client Overview</a></li>
		<li><a href="create-project">Create Project</a></li>
		<li><a href="edit-profile">Edit Profile</a></li>
		<li><a href="add-qp-user">Add QP user</a></li>
	</ul>
</nav>